html, body{
	max-width: 100%;
	min-height: 100%;
}
body{
	
	background-image: url(https://i.pinimg.com/564x/b5/bf/5c/b5bf5c83d3bb23c7defd0beacf99f183.jpg);
}
div ul {
	position: fixed;
	top: 0;
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}
li {
	float: left;
	border-right: 1px solid #bbb;
}

li a{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

article img {
	display: inline;
	width: 20%;
	height: 50px;
	border-style: dashed;
	box-sizing: unset;
	margin: 0;
	padding-bottom: 15px;


}



header img{
	width: 100%;
	height: 550px;
	border-radius: 15px 55px 80px 55px;
}
nav{
	text-align: center;
	color: darkred;
	width: 100%;
	height: 400px;
	font-family: Consolas, monaco, sans-serif;
	font-size: 40px;
	background-size: 100%;
	border-radius: 15px 80px 15px 75px;
	position: relative;

	bottom: -120px;
	

}
nav img {
	size: ;
	width: 30%;
	height: 80px;
	display: block;
	
}

div img {
	background-image: url(https://i.pinimg.com/564x/cf/b4/41/cfb441f6ece0aed15294ba335403f490.jpg);
	width: 30%;
	height: 450px;
	float: right;
	padding: 1rem;
	size: 4rem;
	background-color: red;
	box-sizing: border-box;
	margin-right: 10rem;
	border-style: solid;
	border-color: red;
	border-radius: 10% 10%;
	margin: 15rem;
	display: inline-block;
	bottom: 50px;
	

}

h2 {
	font-family: cursive;
	font-weight: 200%;
	font-size: 50px;
	text-shadow: 2px 2px;
	float: right;
	margin-right: 20rem;
	color: black;
	height: 100px;
	weight: 330%;
	padding: 10rem;
	bottom: -20px;
	
}

content img {
    width: 50%;
    height: 450px;
    margin: 5rem;
    display: block;
    box-sizing: content-box;
    border-radius: 50%;
    padding: 3rem;
    border-style: groove;
    border-color: orangered;
    border-width: 5%;
    margin-right: 20rem;
    margin-left: 30rem;


}

section img {
	width: 30%;
	height: 250px;
	box-sizing: border-box;
	display: block;
	border-style: ridge;
	border-radius: 10% 50%;
	border-color: orange;
	border-radius: 10%;
	border-width: 5px;
	margin: 3rem;
	x

}


h3{
    font-family: fantasy;
    font-size: 300%;
    font-weight: 50%;
   
}


footer {
	font-family: cursive;
	font-weight: 500%;
	color: green;
	width: 100%;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	float: left;
	border-right: 1px solid #bbb;
    background-image: url(https://img.freepik.com/fotos-premium/particulas-brillantes-fuego-sobre-fondo-negro_562847-158.jpg?w=1060);
}



h4 {
	float: right;
	margin-right: 20rem;
	margin-left: 30rem;
	padding: 8rem;
	font-family: fantasy;
	font-size: 20px;
	font-weight: 100%;
    box-sizing: content-box;
    letter-spacing: 3px;
    width: 50%;
    height: 250px;
    text-transform: uppercase;
    
}

